/* Globais */

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  height: 100vh;
  color: #333;
  background-image: linear-gradient(to top left, #2193b0 0%, #2FBF71 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.radius-form {
  border: 1px solid var(--black);
  border-radius: 10px 0px;
}
 
:root {
  --black: #3F334D;
  --gray-text: #636363;
  --green-theme: #00cdac;
  --blue: #2193b0;
  --white-back: #f5f7fb;
}
  
.text-bold {
  font-weight: 380;
}

.tytle-page {
  font-size: 32px;
  color: var(--blue);
  margin: 0;
}

.text-size p {
  color: var(--blue);
  font-size: 18px;
  text-align: left;
}