.show-box {
    background: var(--white-back);
    height: 100%;
    margin: 0;
    padding: 10px;
    position: relative;
    text-align: center;
    width: 350px;
    
    -webkit-box-shadow: 3px 4px 5px var(--black);
    -moz-box-shadow: 3px 4px 5px var(--black);
    box-shadow: 3px 4px 5px var(--black);
}

.home-login {
    flex-wrap: wrap;
    padding: 10px;
}

.home-login_style {
    color: black;
    text-align: left;
    padding-bottom: 10px;
    padding-top: 15px;
}

.home-login_style p {
    font-size: large;
}

.login-button {
    font-size: 18px;
    margin-top: 15px;
}

.other-options {
    font-size: 14px;
    padding: 10px;
    text-align: left;
}

.other-options p {
    padding: 5px;
}

.other-options a {
    color: var(--gray-text);
    font-weight: bold;
    text-decoration: none;
}

.other-options a:hover {
    color: var(--blue);
}
