.signup {
    background: var(--white-back);
    border: 3px solid var(--gray-text);
    height: 500px;
    padding: 20px;
    width: 1280px;
    text-align: center;
}

.form-signup {
    border: 1px solid red;
}

.btn-signup {
    font-size: 18px;
    margin-top: 15px;
}
