.btn {
  background-color: transparent;
  border: none;
  color: black;
  cursor: pointer;
  justify-content: center;
  padding: 10px 15px;
  text-decoration: none;

  -webkit-box-shadow: 1px 2px 3px var(--black);
  -moz-box-shadow: 2px 3px 4px var(--black);
  box-shadow: 1px 2px 3px var(--black);
}

.btn:hover {
  background-color: gray;
}

.btn.btn-primary {
  background-color: var(--blue);
  color: var(--white-back);
  font-size: 18px;
  margin-top: 15px;
}

.btn.btn-primary:hover {
  background-color: var(--green-theme);
}

.btn-position {
  bottom: 10px;
  position: absolute;
  right: 10px;
}
