.pending {
    height: auto;
    text-align: left;
    width: 100%;
}

.pending p {
    font-size: 22px;
    padding: 10px;
}

.list-table td {
    border: 1px solid gray;
    border-radius: 5px;
}

tbody td {
    text-align: center;
}

input[type="radio"]{
    margin-left: 10px;
    margin-right: 3px;
}
